.d-flex {
  display: flex;
  align-items: center;
}
.j-c-b {
  justify-content: space-between;
}
.j-c-c {
  justify-content: center;
}
.notBtn {
  background: none;
  border: 0;
  color: var(--text);
  /* cursor: default; */
  font: inherit;
  line-height: normal;
  overflow: visible;
  padding: 0;
}
li {
  list-style: none;
}
.text-center {
text-align: center;
}